.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  height: 344.38px;
  background: #FAFAFA;
  border-radius: 16px;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.10);
  padding: 1.44rem;
  text-align: center;
  max-width: 100%;
}

.userImg {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

&:hover {
  box-shadow: 0 0 0 2px #000;
}

.favIcon {
  background: rgba(222, 240, 244, 0.50);
  color: #9BCFDA;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.dark .card-container {
  background: #2E2E2E;
  color: #fff;
  box-shadow: 0px 6px 20px 0px rgba(107, 107, 107, 0.1);
}

.dark .favIcon {
  background: rgba(46, 46, 46, 0.5);
  color: #4AC7B3;
	border: 1px solid #4AC7B3;
}
