.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-block: 2rem;
  padding: 1rem;
}
.dark>.contact-container{
  background-color: #1a1a1a;
  color: #fafafa
}