.favs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}
.favs-container h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #1a1a1a;
  margin-block-end: 0.9rem;
}

.dark .favs-container {
  color: #fff;
}
.dark .favs-container h2 {
  color: #fff;
}